{% extends "base.html" %} {% block title %}
<title>CSIS 3600 | Spring 2018</title>
{% endblock %} {% block body %}
<div class="homework-container">
  <div class="title-container">
    <h2><i class="fal fa-exclamation-triangle fa-xs"></i> These aren't the droids you're looking for. <i class="fab fa-android"></i></h2>
  </div>
  <i class="fal fa-spinner fa-pulse"></i>&nbsp;<i class="fal fa-spinner-third fa-spin"></i> <a href="{% url 'home' %}">Back to home</a><i class="fal fa-spinner-third fa-spin"></i>&nbsp;<i class="fal fa-spinner fa-pulse"></i>
</div>
{% endblock %}
