$body-font: 'Open Sans';
$code-font: 'FiraCode';
$font-color: #212121;
$heading-font: 'Abel';
$base-font-size: 16px;
$border-color: #B6B6B6;
$mobile-max-width: 767px;
$desktop-min-width: 980px;
$desktop-xl: 1200px;
$white: #fff;