// == Fonts
@font-face {
  font-family: FiraCode;
  src: url('/fonts/FiraCode-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* Media Queries */
@mixin mobile {
  @media only screen and (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin above-tablet {
  @media only screen and (min-width: $mobile-max-width + 1) {
    @content
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin desktop-xl {
  @media only screen and (min-width: $desktop-xl) {
    @content;
  }
}
