{% extends "base.html" %} {% block title %}
<title>Week 6 | CSIS 3600 | Spring 2018</title>
{% endblock %} {% block body %}
<div class="homework-container">
  <div class="title-container">
    <h2><i class="fal fa-book fa-xs"></i> Week 6</h2>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 1. Describe in detail how the File Manager allocates a file to a single user.</h3>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 2.</h3>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 3.</h3>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 4.</h3>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 5.</h3>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 6.</h3>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 7.</h3>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 8.</h3>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 9.</h3>
  </div>
</div>
{% endblock %}
