{% extends "base.html" %} {% block title %}
<title>Week 13 | CSIS 3600 | Spring 2018</title>
{% endblock %} {% block body %} {% load static %}
<div class="homework-container">
  <div class="title-container">
    <h2><i class="fal fa-book fa-xs"></i> Week 13</h2>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 1. Using the Elements.cvs file, display fields for Names, Symbols, Atomic Number and Discoverer.</h3>
    <div>
      <p>Process:</p>
      <ul>
        <li><code>tr ',' ' ' < Elements.csv > elements2</code></li>
        <li><code>tr -d '\"' < elements2 > elements3</code></li>
        <li><code>awk '(NF != 10) {print $0}' elements3</code></li>
      </ul>
      <img src="{% static 'img/week13/1.png' %}" alt="Elements CSV">
    </div>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 2. The shell uses esac to terminate case and fi to terminate if. Why does it use done to terminate do?</h3>
    <p>Because `od` is already a command which dump files in octal and other formats. Thus `done` had to be used instead.</p>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 3. Write a script that asks the user to enter their name, address, phone number and email.</h3>
    <div>
      <img src="{% static 'img/week13/3.png' %}" alt="User Input Script">
      <img src="{% static 'img/week13/3-2.png' %}" alt="Output">
    </div>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 4. Improve our text2html to allow the user to give a name to the html file then launch a browser to view it in.</h3>
    <div>
      <img src="{% static 'img/week13/4.png' %}" alt="Script">
      <img src="{% static 'img/week13/4-1.png' %}" alt="Terminal">
      <img src="{% static 'img/week13/4-2.png' %}" alt="Firefox output">
    </div>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 5. Write a script called "inventory"</h3>
    <div>
      <img src="{% static 'img/week13/5.png' %}" alt="Script 5">
      <img src="{% static 'img/week13/5-1.png' %}" alt="Terminal 5">
      <img src="{% static 'img/week13/5-2.png' %}" alt="Firefox output 5">
    </div>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 6. Write a script called kill process</h3>
    <div>
      <img src="{% static 'img/week13/6.png' %}" alt="Script 6">
    </div>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 7. What is the maximum number of processes you can kill?</h3>
    <div>
      <img src="{% static 'img/week13/7.png' %}" alt="Terminal">
    </div>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 8. Write a script that will check for a given app every 10 seconds and terminate it.</h3>
    <div>
      <img src="{% static 'img/week13/8-1.png' %}" alt="Script 2">
      <img src="{% static 'img/week13/8-2.png' %}" alt="Firefox output2">
    </div>
  </div>
</div>
{% endblock %}
