{% extends "base.html" %} {% block title %}
<title>Week 4 | CSIS 3600 | Spring 2018</title>
{% endblock %} {% block body %} {% load static %}
<div class="homework-container">
  <div class="title-container">
    <h2><i class="fal fa-book fa-xs"></i> Week 4</h2>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 1. Differences between internal and external fragmentation. For each of the four memory management systems described in class, identify which causes each type of fragmentation</h3>
    <dl>
      <dt>Internal Fragmentation</dt>
      <dd>Internal Fragmentation deals with fixed sizes of memory</dd>
      <dt>External Fragmentation</dt>
      <dd>Dynamic sized memory</dd>
    </dl>
    <dl>
      <dt>Single User</dt>
      <dd>Single user system has only one program area which only one program can run at a time.</dd>
      <dt>Fixed</dt>
      <dd>Allows for multiprogramming but has a fixed size which can cause internal fragmentation. This also leads to lots of wasted memory space.</dd>
      <dt>Dynamic</dt>
      <dd>Memory is allocated on a first come first serve basis. Problem is that this can cause external fragmentation when some jobs finish before others. </dd>
      <dt>Relocatable dynamic</dt>
      <dd>When fragmentation occurs, all jobs halt. unused space is allocated at the bottom of memory. All programs are then restarted. </dd>
    </dl>
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 2. Which type of fragmentation is reduced by compaction.</h3>
    <p>Internal Fragmentation. When memory becomes to fragmented, compaction is necessary to free up memory space.</p>
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 3. How often should relocation be performed?</h3>
    <p>Memory relocation should be performed when memory becomes too fragmented</p>
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 4. Give at least three negative outcomes that would result if one of these early operating systems did not perform memory compaction.</h3>
    <ol>
      <li>Programs would have to wait longer until they are able to execute</li>
      <li>Deadlock could occur</li>
    </ol>
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 5. Precisely define the following terms</h3>
    <dl>
      <dt>Best fit memory allocation</dt>
      <dd>Memory is allocated where it "best fits" in the space of memory</dd>
      <dt>Base register</dt>
      <dd>Stores the highest location in memory accessible to a program</dd>
      <dt>Bounds register</dt>
      <dd>Stores the size of the register</dd>
      <dt>compaction</dt>
      <dd>Collecting fragments of unused memory</dd>
      <dt>Deallocation</dt>
      <dd>Freeing an allocated partition</dd>
      <dt>Dynamic partitions</dt>
      <dd>Ability to grow in size</dd>
      <dt>First fit memory allocation</dt>
      <dd>Memory is allocated by the first spot it can fit in.</dd>
      <dt>fixed partitions</dt>
      <dd>Size of the partition remains constant</dd>
      <dt>main memory</dt>
      <dd>Memory that is internal to the computer (RAM)</dd>
      <dt>relocatable dynamic partitions</dt>
      <dd>Dynamic partitions that reallocates unused memory at the bottom when it becomes too fragmented</dd>
      <dt>relocation register</dt>
      <dd>Store the shift necessary to base address</dd>
    </dl>
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 6. Write a DOS batch file that allows you to use the alias ls, rm, ifconfig, and a better version of the ps command</h3>
    <img src="{% static 'img/week4/dos.png' %}" alt="DOS Script">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 7. Give all the new unix commands covered in class</h3>
    <ul>
      <li><code>ps</code>
        <p>Shows the process list</p>
      </li>
      <li><code>echo</code>
        <p>Prints out to the screen</p>
      </li>
      <li>
        <code>rm</code>
        <p>deletes files</p>
      </li>
    </ul>
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 8. nano</h3>
    <div class="">
      <img src="{% static 'img/week4/ps.png' %}" alt="ps">
      <img src="{% static 'img/week4/tasklist.png' %}" alt="tasklist">
    </div>
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> 9. show ls -l of /dev and /etc</h3>
    <img src="{% static 'img/week4/dev.png' %}" alt="dev">
    <p>Stores device files</p>
    <img src="{% static 'img/week4/etc.png' %}" alt="etc">
    <p>Stores main configuration files</p>
    <img src="{% static 'img/week4/passwd.png' %}" alt="passwd">
    <p>Stores user accounts</p>
  </div>
</div>
{% endblock %}
