{% extends "base.html" %} {% block title %}
<title>Week 1 | CSIS 3600 | Spring 2018</title>
{% endblock %} {% block body %}
<div class="homework-container">
  <div class="title-container">
    <h2><i class="fal fa-book fa-xs"></i> Week 1</h2>
  </div>
  <div class="homework justify-text">
    <h3 class="no-margin-bottom"><i class="fal fa-pencil"></i> List 20 different application that appear in the ftype command</h3>
    <ol>
      <li><span>MSASCUI.exe</span>a process belonging to Microsoft Windows Defender Antispyware which protects your computer against Internet-bound threats</li>
      <li><span>notepad.exe</span>is the executable for Notepad</li>
      <li><span>wpnpinst.exe</span>is a process associated with Microsoft® Windows®</li>
      <li><span>sdclt.exe</span>belonging to Betriebssystem Microsoft® Windows®</li>
      <li><span>wab.exe</span>(Windows Address Book) is a part of the Windows Operating system</li>
      <li><span>WScript.exe</span>is a process relating to Microsoft Windows operating system which allows additional functions to scripting</li>
      <li><span>photoviewer.dll</span>a PhotoViewer belonging to Microsoft® Windows®</li>
      <li><span>regedit.exe</span>is the executable for the Windows Registry Editor</li>
      <li><span>msrating.dll</span>is a module used by the Microsoft Internet Ratings and Local User Management</li>
      <li><span>MSPUP.exe</span>is the main process belonging to Microsoft Publisher</li>
    </ol>
    <ol start="11">
      <li><span>VirtualBox.exe</span>a process for VirtualBox</li>
      <li><span>pageant.exe</span>is a Pageant belonging to PuTTY suite from Simon Tatham</li>
      <li><span>powerpnt.exe</span>is the main process belonging to Microsoft Publisher product, which allows the production of commercial and personal slideshows</li>
      <li><span>rasphone.exe</span>is a rasphone.exe belonging to Sistema operativo Microsoft® Windows® from Microsoft Corporation</li>
      <li><span>PacketTracer7.exe</span>Cisco networking academy's packet tracer</li>
      <li><span>cryptext.dll</span>is a module associated with Crypto Shell Extensions from Microsoft Corporation</li>
      <li><span>Outlook.exe</span>is the main process belonging to Microsoft Publisher product, which allows the production of commercial and personal emails</li>
      <li><span>MySQLWorkbench.exe</span>process for MySQL Workbench</li>
      <li><span>Kleopatra.exe</span>a process for Kleopatra</li>
      <li><span>dfshim.dll</span>is a module associated with Microsoft® .NET Framework from Microsoft Corporation</li>
    </ol>
  </div>
  <div class="homework">
    <h3><i class="fal fa-pencil"></i> List the Linux commands we convered today and what they do.</h3>
    <ul>
      <li><code>cd</code>
        <p>Change Directory</p>
      </li>
      <li><code>pwd</code>
        <p>See the present working directory</p>
      </li>
      <li><code>ls -al # Or any other variation</code>
        <p>Gives the long listing of the designated directory</p>
      </li>
      <li><code>echo "hello world!" > hello.txt</code>
        <p>Redirects the output "Hello World!" to the file hello.txt</p>
      </li>
      <li><code>echo "Zebra" >> hello.txt</code>
        <p>Appends the output to hello.txt</p>
      </li>
      <li><code>cat hello.txt</code>
        <p>Prints the contents of hello.txt</p>
      </li>
      <li><code>cat /etc/passwd</code>
        <p>Prints the users on the machine</p>
      </li>
    </ul>
    <ul>
      <li><code>rm ~/hello.txt</code>
        <p>Removes hello.txt</p>
      </li>
      <li><code>man ls</code>
        <p>Look at the manual pages for ls</p>
      </li>
      <li><code>cat /etc/passwd | less</code>
        <p>print /etc/passwd and send the output to less</p>
      </li>
      <li><code>tail /etc/passwd</code>
        <p>Prints the last lines of /etc/passwd</p>
      </li>
      <li><code>history</code>
        <p>Prints out the history</p>
      </li>
      <li><code>alias ll='ls -al'</code>
        <p>Sets the specified alias</p>
      </li>
      <li><code>source ~/.bashrc</code>
        <p>Reloads the bash shell</p>
      </li>
    </ul>
  </div>
  <div class="homework">
    <h3><span class="fal fa-pencil"></span> Print the calender for 1752. How far backwards or forwards does the cal program work?</h3>
    <ul>
      <li><code>cal 1752</code></li>
      <li>2 weeks are missing in September</li>
      <li>The program's years range from 1 to 9999</li>
    </ul>
  </div>
  <div class="homework">
    <h3 class="no-margin-bottom"><span class="fal fa-pencil"></span> Pick 10 DOS commands</h3>
    <ol>
      <li><code class="windows-code">tree</code> Graphically displays the directory structure of a drive or path.</li>
      <li><code class="windows-code">shutdown -s</code> Allows proper local or remote shutdown of the machine.</li>
      <li><code class="windows-code">copy</code> Copies one or more files to another location.</li>
      <li><code class="windows-code">chdir</code> Displays the name of of changes the current directory.</li>
      <li><code class="windows-code">cls</code> Clears the screen.</li>
    </ol>
    <ol start="6">
      <li><code class="windows-code">echo hello</code> Displays messages, or turns command echoing on or off.</li>
      <li><code class="windows-code">set</code> Displays, sets, or removes windows environment variables.</li>
      <li><code class="windows-code">tasklist</code> Kill or stop a running tasks including services.</li>
      <li><code class="windows-code">type</code> Displays the contents of a text file.</li>
      <li><code class="windows-code">pushd</code> Saves the current directory then changes it.</li>
    </ol>
  </div>
</div>
{% endblock %}
