.site-container {
  margin: auto;
  max-width: 1170px;
  width: 98%;
  margin-bottom: 50px;
}

.homework {
  display: grid;
  margin: auto auto 20px;
  width: 90%;

  p {
    margin-top: 0;
  }

  h3 {
    border-bottom: 1px solid #EAECEF;
    padding-bottom: 10px;
    margin-bottom: 25px;
  }

  ol {
    li {
      span {
        color: #609ec3;

        &::after {
          content: ': ';
        }
      }
    }
  }

  @include above-tablet {
    grid-template-columns: 1fr 1fr;

    h3 {
      grid-column: 1 / -1;
    }
  }
}

.header-grid {
  @include above-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .spanAll {
      grid-column: 1 / -1;
    }
  }
}
