body,
html {
  margin: 0;
  padding: 0;
}

body {
  color: $font-color;
  background-color: #fafafa;
  font-family: $body-font, sans-serif;
  line-height: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-color;
  font-family: $heading-font, sans-serif;
}

code {
  background-color: #000;
  border: 1px solid lighten(#000, 25%);
  border-radius: 4px;
  color: #fff;
  font-family: $code-font;
  font-weight: lighter;
  padding: 10px 20px;
  margin: 10px 0 0;

  &::before {
    color: #00cc00;
    content: '$ ';
  }

  &.windows-code {
    line-height: 3em;

    &::before {
      color: $white;
      content: 'C:\\ ';
    }
  }
}

li,
ul {
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding-left: 10px;
}

ul {
  li {
    list-style: none;
  }
}

form {
  input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
  }
}
