.gray-container {
  background-color: #f2f2f2;
  border: 1px solid darken(#f2f2f2, 15%);
  //background-color: #F1F8FF;
  //border: 1px solid #C9E2FE;
  border-radius: 4px;
  margin-top: 20px;
  width: 100%;
}

.large-container {
  padding-top: 40px;
  padding-bottom: 50px;
}

.title-container {
  background-color: #F6F8FA;
  border-bottom: 1px solid #DDDDDD;
  padding: 5px 10px;

  h2 {
    padding: 0;
    margin: 0;
  }
}

.homework-container {
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  margin-top: 20px;
}

.main-heading {
  margin: auto auto 50px;
  text-align: center;
  width: 90%;

  @include above-tablet {
    margin: auto;
    text-align: left;
    width: 80%;
  }
}

.skills {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 'html css js' '. gulp .' 'sass npm node';
  margin: auto;
  width: 90%;

  #html {
    grid-area: html;
  }

  #css {
    grid-area: css;
  }

  #js {
    grid-area: js;
  }

  #sass {
    grid-area: sass;
  }

  #gulp {
    grid-area: gulp;
  }

  #npm {
    grid-area: npm;
  }

  #node {
    grid-area: node;
  }

  @include above-tablet {
    margin: 0;
  }
}

nav {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  li {
    cursor: pointer;
    display: inline-block;
    max-width: 100px;
    text-align: center;

    &:hover:not(.active) {
      background: darken(#f2f2f2, 5%);
    }

    &:active:not(.active) {
      background-color: #F1F8FF;
      border: 1px solid #C9E2FE;
    }

    a {
      color: inherit;
      font-family: inherit;
      text-decoration: none;
      padding: 5px 10px;
    }
  }

  .active {
    background-color: #F1F8FF !important;
    border: 1px solid #C9E2FE !important;
  }

  @include above-tablet {
    ul {
      display: block;
    }
  }
}

.error-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 20px;

  a {
    color: #336699;
    font-size: 1.5em;
    font-family: $heading-font, sans-serif;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  @include above-tablet {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    a {
      color: lighten(#336699, 15%);
      margin-top: 0;

      &:hover {
        color: #336699;
      }

      &:active {
        padding-top: 5px;
      }
    }
  }
}

.form-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;

  button {
    background-color: #4CAF50;
    border: 1px solid darken(#4CAF50, 10%);
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    display: inline-block;
    grid-column: 1 / -1;
    line-height: 1.2em;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    margin: 4px 2px;

    &:hover {
      background-color: darken(#4CAF50, 10%);
    }
  }
}
